
<% var = @seq %>
<table class="table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Title</th>
      <th>User</th>
      <th>Comments</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= var %></td>
        <td><%= link_to blog.title, blog %></td>
        <td><%= blog.user.name %></td>
        <td>
          <span class="tag is-rounded"><%= blog.comments.count %> comments</span>
        </td>
        <td>
          <% if can? :update, blog %>
            <%= link_to 'Edit', edit_blog_path(blog) %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, blog %>
            <%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
      
      <% var = var+1 %>

    <% end %>
  </tbody>
  
</table>

<br>
<%= paginate @blogs %>
